@using ApartmanYonetimSistemi.Controllers



<div class="static-sidebar-wrapper sidebar-default">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar">
                            <img src="~/assets/img/avatar.jpg" class="img-responsive img-circle">
                        </div>
                        <div class="info">

                                <span class="username">@SessionModel.Current.User.NAME @SessionModel.Current.User.SURNAME</span>
                                        <span class="useremail">@SessionModel.Current.User.EMAIL</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li class="nav-separator"><span>Menü</span></li>
                        <li><a href="Index"><i class="ti ti-home"></i><span>Ana Sayfa</span><span class="badge badge-teal">2</span></a></li>
                        <li><a href="Aidatlar"><i class="ti ti-shield"></i><span>Aidatlar</span></a></li>
                        <li><a href="Giderler"><i class="ti ti-layout"></i><span>Giderler</span></a></li>
                        <li><a href="Hesaplar"><i class="ti ti-layout"></i><span>Hesaplar</span></a></li>
                        <li><a href="Kasalar"><i class="ti ti-layout"></i><span>Kasa, Banka</span></a></li>
                        <li>
                            <a href="javascript:;"><i class="ti ti-control-shuffle"></i><span>Yönetim</span></a>
                            <ul class="acc-menu">
                                <li><a href="Yonetim/Daireler">Daireler</a></li>
                                <li><a href="Yonetim/Sayaclar">Sayaçlar</a></li>
                                <li><a href="Yonetim/Demirbaslar">Demirbaşlar</a></li>
                                <li><a href="Yonetim/Araclar">Araçlar</a></li>
                                <li><a href="Yonetim/Kararlar">Karar Defteri</a></li>
                                <li><a href="Yonetim/Projeler">İşletme Projesi</a></li>
                                <li><a href="Yonetim/Icralar">İcra Takibi</a></li>
                            </ul>
                        </li>
                        <li><a href="Raporlar"><i class="ti ti-pencil"></i><span>Raporlar</span></a></li>
                        <li>
                            <a href="javascript:;"><i class="ti ti-settings"></i><span>Ayarlar</span></a>
                            <ul class="acc-menu">
                                <li><a href="Ayarlar/Temel">Site Ayarları</a></li>
                                <li><a href="Ayarlar/Sablonlar">Şablonlar</a></li>
                                <li><a href="Ayarlar/Uygulamalar">Uygulamalar</a></li>
                                <li><a href="Ayarlar/Üyelik">Üyelik</a></li>
                                <li><a href="Ayarlar/Hakkında">Hakkında</a></li>
                            </ul>
                    <li>
                        </ul>
                </nav>
            </div>
            <div class="widget" id="widget-progress">
                <div class="widget-heading">
                    Progress
                </div>
                <div class="widget-body">
                    <div class="mini-progressbar">
                        <div class="clearfix mb-sm">
                            <div class="pull-left">Bandwidth</div>
                            <div class="pull-right">50%</div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-lime" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="mini-progressbar">
                        <div class="clearfix mb-sm">
                            <div class="pull-left">Storage</div>
                            <div class="pull-right">25%</div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 25%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
